[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
flake8 = "*"
black = "==19.10b0"
isort = "*"
pytest = "*"
requests = "*"

[packages]
starlette = "*"
uvicorn = "*"
asyncpg = "*"
databases = "*"

[requires]
python_version = "3.8"
